---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="container mt-5">
    <div class="row">
        <div class="col-8 offset-2 mb-5">
            <h1>{{ title }}</h1>
            {{ content | safe }}
            <p><a class="link-blue" href="{{ '/' | url }}">← Home</a></p>
        </div>
    </div>
</div> 


